*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #f59999
}

form{
    max-width: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #111111;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

legend{
    color: #f59999;
}

fieldset{
    padding: 20px;
}

input{
    margin-bottom: 10px;
    padding: 5px;
}

select{
    margin: 10px 0;
}

.procedimento span{
    display: block;
    text-align: center;
    border-bottom: 1px solid #f59999;
    margin-bottom: 10px;
}